<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    {% extends 'index.html' %}

    {% block content %}
    <div class="card p-5 w-25 position-absolute top-50 start-50 translate-middle shadow ">
        <form action="/login" method="POST">
            <h6>Login</h6>
      {{login_form.email.label(class='form-label')}}
      {{login_form.email(class='form-control')}}
      {{login_form.password.label(class='form-label')}}
      {{login_form.password(class='form-control')}}
      <div class="d-flex flex-column mt-3 float-end me-1 ">
        <div class="d-flex">
          <button type="button" class="m-1 w-50 btn btn-secondary data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="m-1 w-50 btn btn-primary ">Login</button>
        </div>

         <div class="mt-2">
            <a class="btn btn-info" href="/sign-up">Create An Account</a>
          </div>
      </div>

    </form>
    </div>


    {% endblock %}
  </body>
</html>
