<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    {% extends 'index.html' %}

    {% block content %}
    <div class="card p-5 w-25 position-absolute top-50 start-50 translate-middle ">
        <form action="/login" method="POST">
            <h6>Login</h6>
      {{login_form.username.label(class='form-label')}}
      {{login_form.username(class='form-control')}}
      {{login_form.password.label(class='form-label')}}
      {{login_form.password(class='form-control')}}
      <div class="mt-3 float-end me-5">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    </div>


    {% endblock %}
  </body>
</html>
