<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
{% extends 'index.html' %}
{% block content %}
<div class="w-25 card shadow p-5 position-absolute top-50 start-50 translate-middle">
  <form class="d-flex flex-column" action="/sign-up" method="POST">
      <div class="text-center">
          <h2>Create an Account</h2>
      </div>
        {{form.first_name.label(class="form-label")}}
       {{form.first_name(class="form-content")}}
       {{form.last_name.label(class="form-label")}}
       {{form.last_name(class="form-content")}}
       {{form.email.label(class="form-label")}}
       {{form.email(class="form-content")}}
       {{form.password.label(class="form-label")}}
       {{form.password(class="form-content")}}
       {{form.password.label(class="form-label")}}
       <label class="form-label">Confirm Password</label>
       <input class="form-control" name="conf_pass" type="password">
      <button type="submit" class="w-25 btn btn-info ms-auto mt-3">Create</button>
  </form>
</div>

{% endblock %}
</body>
</html>