html, body{
    height:95% !important;
    margin:0 !important;
}
.wrapper{
    min-height: 100% !important;
    margin-bottom: -220px !important;
}

footer, .push{

    height:75px !important;
    padding:5em !important;
}